.front-pg-slider-items ul.front-pg-slider-items {
  
}

ul.front-pg-slider-items li {
  max-height:620px;
  overflow:hidden;
}

ul.front-pg-slider-items li img {
  width:100%;
}


.flexslider {
  border:0 !important;
}

ul.slides li {
  margin-right:0 !important;
}

ul.slides li span.title-container {
  position:absolute;
  color: #FFF;
  /*background: #000 !important;*/
  bottom:0px;
  width:100%;
  opacity: .6;
}

ul.slides li span.title {
  position:absolute;
  color: #FFF;
  /*background: #000 !important;*/
  
  padding: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  bottom: 0px;
  /*margin-left:20px;*/
  opacity: 1;
  width: 100%;
  font-size:2em;
  font-weight:700;
  /*text-transform: uppercase;*/
  /*font-family: "BebasNeueRegular",Helvetica,Arial,sans-serif;*/
  font-size: 32px;
  /*text-shadow: 0 0 8px rgba(0,0,0,0.8);*/
}



@media screen and (max-width: 768px) {  
  ul.slides li span.title {
    width:100%;
    bottom:0;
    border-radius:0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin-left:0;
    font-size:1em;
  }
}

@media screen and (max-width: 575px) {  
  ul.slides li span.title {
    width:100%;
    bottom:0;
    padding:5px;
    font-size:1em;
    border-radius:0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
}

/*.flex-active-slide + li {
  left: -1%;
  position: relative;
}*/

#block-custom-front-pg-slider-front-pg-slider .flex-direction-nav a {
  padding: 2px 8px;
  right: 0px;
}

#block-custom-front-pg-slider-front-pg-slider .flexslider .flex-direction-nav a.flex-prev {
  left: 0px;
}

#block-custom-front-pg-slider-front-pg-slider .flexslider .flex-direction-nav a.flex-next {
  right: 0px;
}
